<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<title>Isucon3</title>
<link rel="stylesheet" href="<%= url_for('/css/bootstrap.min.css') %>">
<style>
body {
  padding-top: 60px;
}
</style>
<link rel="stylesheet" href="<%= url_for('/css/bootstrap-responsive.min.css') %>">
<link rel="stylesheet" href="<%= url_for('/') %>">
</head>
<body>
<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>
<a class="brand" href="/">Isucon3</a>
<div class="nav-collapse">
<ul class="nav">
<li><a href="<%= url_for('/') %>">Home</a></li>
<% if user["username"] %>
<li><a href="<%= url_for('/mypage') %>">MyPage</a></li>
<li>
  <form action="/signout" method="post">
    <input type="hidden" name="sid" value="<%= session['token'] %>">
    <input type="submit" value="SignOut">
  </form>
</li>
<% else %>
<li><a href="<%= url_for('/signin') %>">SignIn</a></li>
<% end %>
</ul>
</div> <!--/.nav-collapse -->
</div>
</div>
</div>

<div class="container">
<h2>Hello <%= user["username"] %>!</h2>

<%== yield %>

</div> <!-- /container -->

<script type="text/javascript" src="<%= url_for('/js/jquery.min.js') %>"></script>
<script type="text/javascript" src="<%= url_for('/js/bootstrap.min.js') %>"></script>
</body>
</html>
